<div class="container">
  <p id="notice"><%= notice %></p>
  <h2>show all meetings</h2>

  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
      </tr>
    </thead>
    <tbody>
          <% @meetings.each do |meeting| %>
            <tr>
              <td><%= meeting.id %></td>
              <td><%= meeting.name %></td>
              <td><%= meeting.start_time %></td>
              <td><%= meeting.end_time %></td>
              <td>
                <%= link_to meeting do%>
                  <i class="fas fa-eye"></i>
                <% end %>
              </td>
              <td>
                <%= link_to edit_meeting_path(meeting) do%>
                  <i class="fas fa-edit"></i>
                <% end %>
              </td>
              <td>
                <%= link_to meeting, method: :delete, data: { confirm: 'Are you sure?' } do%>
                  <i class="fas fa-trash-alt"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
    </tbody>
  </table>
</div>

