<!DOCTYPE html>
<html>
  <head>
    <title>Calendar</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#"><i class="fas fa-band-aid"></i></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="navbar navbar-light bg-light" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <button type="button" class="btn btn-outline-warning"><%= link_to "Home", root_path %></button>                     
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-outline-warning"><%= link_to "Add meeting", new_meeting_path %></button>                     
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-outline-warning"><%= link_to "All meeting", meetings_path %></button>                     
          </li>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
